h2 {
    width: 80%;
    font-size: 18px;
}
.card-body a {
    word-break: break-all;
}

.articleHeadline {
    line-height: 1.5;
    width: 100%
}

.article-header {
    width: 80%;
    height: 250px;
}

.article-section {
    width: 50%;
}
/* 
.card {
    width: 500px;
    height: 250px;
} */

.nytlogo {
    width: 15%;
    display: block;
}

/* .articleImg {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    /* position: relative; */
    /* float: right;
    bottom: 20px;
    display: block; */
    /* margin: auto 0; */

/* } */

.articleImg {
    /* vertical-align: middle; */
    position: absolute;
    display: block;
    float: right;
    right: 5px;
    /* max-height: 25px;
    max-width: 160px; */
    bottom: 10px;
}


.readmore {
    position: relative;
    left: 0;
    bottom: 0%;
}

/* headline cards */
.card-body {
    z-index: 1;
}

/* .list-group-item articleHeadline */
.articleHeadline {
    color: black;
    /* width: 20%; */
    overflow-wrap: break-word;
}

.list-group-item.articleHeadline {
    position: relative;
    height: 100px;
    width: 500px;
    padding: 10px;
    /* display: block; */
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    /* position: absolute; */
}

.list-group-item {
    display: block;
}