.card-body a {
    word-break: break-all;
}

.articleHeadline {
    line-height: 1.5;
    width: 100%
}

.nytlogo {
    width: 15%;
    margin-right: 90%;
}
 
.articleImg {
    position: relative;
    float: right;
    right: 0;
}

