body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  height: 300px;
}

.card-header {
  font-size: 22px;
}

#header {
  padding: 0px;
}

.hat #header {
  font-weight: 100;
  font-size: 18px;
}

#phrase {
  font-family: 'Freckle Face', cursive;
  font-size: 36px;
  letter-spacing: 1px;
}

.hat {
  background-color: rgb(228, 113, 47);
  margin-bottom: 25px;
  margin-top: 25px;
}

.hat-nav {
  margin: 0 -15px;
}

.weather {
  background-color: rgb(145, 214, 42) !important;
}

.news {
  background-color: rgb(255, 208, 0) !important;
}

.horoscope {
  background-color: orange !important;
}

.notes {
  background-color: rgb(193, 223, 26) !important;
}

#backBtn {
  background-color: rgb(228, 113, 47);
}

.portfolio-item {
  margin-bottom: 25px;
}

.pagination {
  margin-bottom: 25px;
}

.card-header {
  text-align: center;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  color: white;
}

.menu-tile {
  padding: 25px;
}

.detail-screen {
  min-height: 91vh;
  padding: 25px;
}

.container-fluid {
  display: none;
}

.container .weather, .container .news, .container .notes, .container .horoscope, #backBtn, #navPanels {
  cursor: pointer;
}

.weather.grad {
  background: rgba(145, 214, 42, 1);
  background: -moz-linear-gradient(top, rgba(145, 214, 42, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145, 214, 42, 1)), color-stop(19%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(145, 214, 42, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(145, 214, 42, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(145, 214, 42, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(145, 214, 42, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91d62a', endColorstr='#ffffff', GradientType=0);
}

.news.grad {
  background: rgba(255, 208, 0, 1);
  background: -moz-linear-gradient(top, rgba(255, 208, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 208, 0, 1)), color-stop(19%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 208, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 208, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 208, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 208, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd000', endColorstr='#ffffff', GradientType=0);
}

.horoscope.grad {
  background: rgba(255, 166, 0, 1);
  background: -moz-linear-gradient(top, rgba(255, 166, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 166, 0, 1)), color-stop(19%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 166, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 166, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 166, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 166, 0, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa600', endColorstr='#ffffff', GradientType=0);
}

.notes.grad {
  color: rgb(40, 48, 1);
  background: rgba(193, 223, 26, 1);
  background: -moz-linear-gradient(top, rgba(193, 223, 26, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(193, 223, 26, 1)), color-stop(19%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(193, 223, 26, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(193, 223, 26, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(193, 223, 26, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(193, 223, 26, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1df1a', endColorstr='#ffffff', GradientType=0);
}

.note-card {
  height: auto;
  margin: 10px;
  color: green;
  background-color: rgb(232, 247, 152);
}

.note-body {
  padding: 8px 14px;
}

#notesHeader:hover {
  background-color: #2ca728;
  
}

.emptyNoteWarning {
  border: 2px solid red;
}

.delButton {
  background-color: rgb(221, 240, 118);
  border: none;
  border-radius: 100px;
  float:right;
  height:34px;
  color:green;
}

.delButton:hover {
  background-color: green;
  color: rgb(221, 240, 118);
}

#notesList {
  padding: 10px;
}

#detailNotesLeft {
  margin: 100px 0 0 100px;
  /* border: none; */
  height: 460px;
  background-color: rgb(221, 240, 118);
  overflow: auto;
}

#detailNotesImg {
  height: 470px;
  opacity: 0.7;
  filter: grayscale(50%) contrast(50%) brightness(150%);
}

#detailNotesRight {
  margin: 100px 100px 0 0;
  height: 460px;
  font-size: 18px;
}

.detailNotesHeader {
  background-color: rgb(193, 223, 26);
}

#detailNotesList {
  background-color: rgb(193, 223, 26);
  padding: 10px;
}

#logInOutButton {
  display: block;
  float: right;
  margin: 10px 10px;
}